
/* Basic CSS for Lumen documentation */

code
{
  font-weight : bold;
  font-size   : larger;
}

.centered
{
  text-align : center;
}

blockquote
{
  background-color : #DDDDDD;
  padding          : 0.1cm 0.5cm;
}
